server:
  port: 9001
spring:
  application:
    name: cloud-nacos-payment-service
  # nacos 地址
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
# 暴露监控端口
management:
  endpoints:
    web:
      exposure:
        include: "*"